[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
black = "*"
isort = "*"
flake8 = "*"
pytest = "*"
pip-tools = "*"
bumpver = "*"
build = "*"
twine = "*"
stima-scraper = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.10"
